<h2 mat-dialog-title>{{ constants.editar }} Pregunta</h2>

<mat-dialog-content [formGroup]="form">
  <input type="hidden" formControlName="id" [(ngModel)]="pregunta.id">

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
    <div class="item" fxFlex>
      <mat-form-field class="w-80">
        <input matInput placeholder="{{ constants.descripcion }}" formControlName="descripcion"
          [(ngModel)]="pregunta.descripcion" autocomplete
          ="off" type="text" required pattern="^(?!\s*$).+"
          [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" >
          <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
            <div *ngIf="f.descripcion.errors.required">{{ constants.campoRequerido }}</div>
            <div *ngIf="f.descripcion.errors.maxlength">{{ constants.longitud_maxima }} 50 carácteres</div>
          </div>
      </mat-form-field>
    </div>

    <div class="item" fxFlex>
      <div class="item" fxFlex="20">
        <mat-checkbox formControlName="compartido" name="compartido" [(value)]="pregunta.usocompartido" id="compartido">{{ constants.usocompartido }}
        </mat-checkbox>
      </div>
    </div>

  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
    <div class="item" fxFlex>
      <div *ngIf="respuesta !== undefined && respuesta.nombre !== undefined && respuesta.nombre !== ''">
        Nombre: {{respuesta.nombre}}
        <img  *ngIf="respuesta?.archivoId" src="{{ archivoService.getUrlBase() }}/getById/{{respuesta.archivoId}}" class="img-thumbnail rounded" alt="{{ respuesta.nombre }}"
        style="height: 120px; cursor: pointer;">
      </div>

      <mat-dialog-actions align="end">
        <button mat-button color="primary" (click)="seleccionarRespuesta()">
          <mat-icon class="m-1">image_search</mat-icon>{{ constants.seleccionarRespuesta }}
        </button>
      </mat-dialog-actions>
      <!-- <mat-form-field>
        <mat-select formControlName="nivel">
           <ngx-mat-select-search [(ngModel)]="grupoNivel.nivel" [placeholderLabel]="'Buscar...'"
            [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>
          <mat-option *ngFor="let nivel of grupoNivelList" [value]="nivel">
          {{nivel.nombre}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="submitted && f.nivel.errors">
        <div *ngIf="f.nivel.errors.required">{{ constants.campoRequerido }}</div>
      </mat-error>
      </mat-form-field> -->
    </div>
  </div>


  <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
    <div class="item" fxFlex="50%">
      <mat-checkbox formControlName="activo" name="activo" [(value)]="pregunta.activo" id="activo">{{ constants.activo }}
      </mat-checkbox>
    </div>
  </div>


</mat-dialog-content>

<mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="close()">
    <mat-icon class="m-1">close</mat-icon>{{ constants.cancelar }}
  </button>
  <button mat-raised-button [disabled]="disableSubmit" color="primary" (click)="onSubmit()">
    <mat-icon class="m-1">save</mat-icon>{{ constants.guardar }}
  </button>
</mat-dialog-actions>
