<h2 mat-dialog-title>{{ constants.editar }} Pregunta</h2>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>account_tree</mat-icon>
  </button>

    <span class="font-12 font-normal">Lección: {{this.leccion.leyenda}}</span>


</mat-toolbar>
<p></p>

<mat-dialog-content [formGroup]="form">
  <input type="hidden" formControlName="id" [(ngModel)]="pregunta.id">

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
    <div class="item" fxFlex>
      <mat-list>
        <mat-list-item>Respuesta *</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <div *ngIf="respuesta !== undefined && respuesta.nombre !== undefined && respuesta.nombre !== ''">
        <mat-selection-list>
          <mat-list-option>
            <a mat-list-item>
              <img class="img-thumbnail rounded"  matListAvatar src="{{ archivoService.getUrlBase() }}/getById/{{respuesta.archivoId}}" alt="imagen">
              <span class="contact-names">{{ respuesta.nombre }}</span>
              <span class="contact-names">"{{ respuesta.frase }}"</span>
            </a>
          </mat-list-option>
        </mat-selection-list>
      </div>

      <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" (click)="seleccionarRespuesta()">
          <mat-icon class="m-1" matTooltip="Consultar respuesta">image_search</mat-icon> Seleccionar respuesta
        </button>
      </mat-dialog-actions>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
    <div class="item" fxFlex>
      <mat-form-field class="w-80">
        <input matInput placeholder="{{ constants.fraseRespuesta }}" formControlName="fraseRespuesta"
          [(ngModel)]="pregunta.fraseRespuesta" autocomplete
          ="off" type="text" required pattern="^(?!\s*$).+"
          [ngClass]="{ 'is-invalid': submitted && f.fraseRespuesta.errors }" >
          <div *ngIf="submitted && f.fraseRespuesta.errors" class="invalid-feedback">
            <div *ngIf="f.fraseRespuesta.errors.required">{{ constants.campoRequerido }}</div>
            <div *ngIf="f.fraseRespuesta.errors.maxlength">{{ constants.longitud_maxima }} 50 carácteres</div>
          </div>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
    <div class="item" fxFlex>
      <mat-form-field class="w-50">
        <input matInput placeholder="{{ constants.enumeracion }}" formControlName="enumeracion"
          [(ngModel)]="leccion.enumeracion" autocomplete="off" type="number" required>
          <div *ngIf="submitted && f.enumeracion.errors" class="invalid-feedback">
            <div *ngIf="f.enumeracion.errors.required">{{ constants.campoRequerido }}</div>
            <div *ngIf="f.enumeracion.errors.max">{{ constants.valormaximo }} 9</div>
          </div>
      </mat-form-field>
    </div>

    <div class="item" fxFlex>
        <mat-form-field>
          <mat-select formControlName="listatipopregunta" placeholder="Tipo de pregunta">
            <mat-option *ngFor="let tipo of tipoPregunta" [value]="tipo">
            {{tipo.nombre}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.listatipopregunta.errors">
          <div *ngIf="f.listatipopregunta.errors.required">{{ constants.campoRequerido }}</div>
        </mat-error>
        </mat-form-field>
    </div>

  </div>
  <input type="hidden" formControlName="respuestaid" [(ngModel)]="pregunta.respuesta.id">
  <input type="hidden" formControlName="respuesta" [(ngModel)]="pregunta.respuesta">



  <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
    <div class="item" fxFlex="50%">
      <mat-checkbox formControlName="activo" name="activo" [(value)]="pregunta.activo" id="activo">{{ constants.activo }}
      </mat-checkbox>
    </div>
  </div>


</mat-dialog-content>

<mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="close()">
    <mat-icon class="m-1">close</mat-icon>{{ constants.cancelar }}
  </button>
  <button mat-raised-button [disabled]="disableSubmit" color="primary" (click)="onSubmit()">
    <mat-icon class="m-1">save</mat-icon>{{ constants.guardar }}
  </button>
</mat-dialog-actions>
