<h2 mat-dialog-title>{{ constants.editar }} Datagenia</h2>

<mat-dialog-content [formGroup]="form">
  <input type="hidden" formControlName="id" [(ngModel)]="datagenia.id">

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
    <div class="item" fxFlex>
      <mat-form-field class="w-100">
        <input matInput placeholder="{{ constants.nombre }}" formControlName="nombre"
          [(ngModel)]="datagenia.nombre" autocomplete
          ="off" type="text" required pattern="^(?!\s*$).+"
          [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" >
          <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">{{ constants.campoRequerido }}</div>
            <div *ngIf="f.nombre.errors.maxlength">{{ constants.longitud_maxima }} 50 carácteres</div>
          </div>
      </mat-form-field>
    </div>

  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
    <div class="item" fxFlex>
      <mat-form-field class="w-100">
        <input matInput placeholder="{{ constants.frase }}" formControlName="frase"
          [(ngModel)]="datagenia.frase" autocomplete="off" type="text" required pattern="^(?!\s*$).+"
          [ngClass]="{ 'is-invalid': submitted && f.frase.errors }" >
          <div *ngIf="submitted && f.frase.errors" class="invalid-feedback">
            <div *ngIf="f.frase.errors.required">{{ constants.campoRequerido }}</div>
            <div *ngIf="f.frase.errors.maxlength">{{ constants.longitud_maxima }} 500 carácteres</div>
          </div>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
    <div class="item" fxFlex>
      <mat-form-field class="w-50">
        <input matInput placeholder="{{ constants.dificultad }}" formControlName="dificultad"
          [(ngModel)]="datagenia.dificultad" autocomplete="off" type="number" required>
          <div *ngIf="submitted && f.dificultad.errors" class="invalid-feedback">
            <div *ngIf="f.dificultad.errors.required">{{ constants.campoRequerido }}</div>
            <div *ngIf="f.dificultad.errors.max">{{ constants.valormaximo }} 9</div>
          </div>
      </mat-form-field>
    </div>

    <div class="item" fxFlex>
      <div class="item" fxFlex="50">
        <mat-checkbox formControlName="compartido" name="compartido" [(value)]="datagenia.compartido" id="compartido">{{ constants.compartido }}
        </mat-checkbox>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">

    <div class="item" fxFlex>
      <div class="item" fxFlex="100">
        <input  formControlName="archivoId"     [(ngModel)]="datagenia.archivoId"  type="hidden" required>
          <div *ngIf="submitted && f.archivoId.errors" class="invalid-feedback">
            <div *ngIf="f.archivoId.errors.required">{{ constants.campoRequerido }}</div>
          </div>
        <app-archivo-edit (archivoBaseDatosChange)="onChangeArchivo($event)"></app-archivo-edit>
      </div>
    </div>
  </div>


  <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
    <div class="item" fxFlex="50%">
      <mat-checkbox formControlName="activo" name="activo" [(value)]="datagenia.activo" id="activo">{{ constants.activo }}
      </mat-checkbox>
    </div>
  </div>


</mat-dialog-content>

<mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="close()">
    <mat-icon class="m-1">close</mat-icon>{{ constants.cancelar }}
  </button>
  <button mat-raised-button [disabled]="disableSubmit" color="primary" (click)="onSubmit()">
    <mat-icon class="m-1">save</mat-icon>{{ constants.guardar }}
  </button>
</mat-dialog-actions>
