<div id="personas" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    

    <!-- CENTER -->
    <div class="center">
        <div [hidden]="!loading" class="header accent" >
            <mat-spinner></mat-spinner>
        </div>
        <!-- HEADER -->
        <div class="header accent"  [hidden]="loading"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    person
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Personas
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar por nombre">
                </div>
                <button mat-raised-button
                    [routerLink]="'/apps/e-commerce/personas/new'"
                    class="add-persona-button fuse-white mt-24 mt-md-0">
                    <span>Buscar</span>
                </button>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/apps/e-commerce/personas/new'"
                    class="add-persona-button fuse-white mt-24 mt-md-0">
                <span>Crear persona</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card"  [hidden]="loading">
            <mat-table class="personas-table"
                       #table [dataSource]="personaDatasource"
                       matSort 
                       matSortActive="nombres"
                       matSortDirection="asc"
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let persona">
                        <p class="text-truncate">{{persona.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nombres">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</mat-header-cell>
                    <mat-cell *matCellDef="let persona">
                        <p class="text-truncate">{{persona.nombres}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="apellidos">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</mat-header-cell>
                    <mat-cell *matCellDef="let persona">
                        <p class="text-truncate">{{persona.apellidos}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="telefono">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Teléfono</mat-header-cell>
                    <mat-cell *matCellDef="let persona">
                        <p class="text-truncate">{{persona.telefono}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="correo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Correo electrónico</mat-header-cell>
                    <mat-cell *matCellDef="let persona" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{persona.correo}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="direccion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Dirección</mat-header-cell>
                    <mat-cell *matCellDef="let persona" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{persona.direccion}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Active</mat-header-cell>
                    <mat-cell *matCellDef="let persona" fxHide fxShow.gt-xs>
                        <mat-icon class="active-icon green-600 s-16">check</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let persona; columns: displayedColumns;"
                         class="persona"
                         matRipple
                         [routerLink]="'/apps/e-commerce/personas/'+persona.id+'/'+persona.handle">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [pageIndex]="0"
                           [pageSize]="5"
                           [pageSizeOptions]="[5, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
