<mat-toolbar color="primary" class="app-header">
  <div><a href="{{url}}" target="_blank" class="positronx" rel="noopener">Logogenial App - Panel administrativo</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Iniciar sesión</a>
    <a mat-button mat-raised-button  routerLink="../register">Registrarse</a>
  </span>
</mat-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="loginForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="email" [(ngModel)]="userLogin.username" placeholder="Correo electrónico">
          <mat-error *ngIf="hasError('email', 'required')">
            usuario es un campo obligatorio
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Contraseña" formControlName="password" [(ngModel)]="userLogin.password"
          [type]="hide ? 'password' : 'text'">
          <mat-error  *ngIf="hasError('password', 'required')">
            Contraseña es un campo obligatorio
          </mat-error>
        </mat-form-field>
        <!-- <mat-error>
          El usuario se ha bloqueado porque ha realizado 3 intentos de acceso sin éxito, solicite al administrador desbloquearlo y vuelva a intentarlo
        </mat-error> -->
      </mat-card-content>
      <div mat-dialog-actions align="center">
        <button mat-stroked-button color="accent"  class="submit-button" aria-label="LOGIN"
        (click)="submit()" [disabled]="loginForm.invalid">
          Iniciar sesión
        </button>
      </div>

    </form>
  </mat-card>

</div>
