<div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
  <mat-card>
      <mat-card-content>
          <div class="d-flex flex-wrap">
              <div>
                  <mat-card-title>Actividad reciente</mat-card-title>
                   <mat-card-subtitle></mat-card-subtitle>
               </div>
              <div class="ml-auto">
                  <ul class="list-inline">
                      <li>
                          <h6 class="text-success m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Correctas</h6> </li>
                      <li>
                          <h6 class=" text-info m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Incorrectas</h6> </li>
                  </ul>
              </div>
          </div>

          <div class="barchrt" style="height:360px;">
              <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options" [responsiveOptions]="barChart1.responsiveOptions"
                  [events]="barChart1.events"> </x-chartist>
          </div>
      </mat-card-content>
  </mat-card>
</div>
<div fxFlex.gt-lg="50" fxFlex.gt-md="50"  fxFlex.gt-xs="100" fxFlex="100">
  <mat-card>
      <mat-card-content>
          <mat-card-title>Hits</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <div class="piechart">
              <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type" [options]="donuteChart1.options" [responsiveOptions]="donuteChart1.responsiveOptions"
                  [events]="donuteChart1.events"> </x-chartist>
          </div>
      </mat-card-content>
      <hr>
      <mat-card-content>
          <ul class="list-inline text-center">
              <li>
                  <h6 class="text-success m-0">
                      <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Aciertos</h6>
              </li>
              <li>
                  <h6 class=" text-info  m-0">
                      <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Desaciertos</h6>
              </li>
          </ul>
      </mat-card-content>
  </mat-card>
</div>

<mat-card>
  <mat-card-content>
    <mat-card-title> Estudiantes por grupo
      <div fxLayoutAlign="end">
        <button mat-fab (click)="create()" color="primary" matTooltip="{{constants.crearNuevo}}" *userHassPermission="constants.rol_administrador">
          <mat-icon class="m-1">note_add</mat-icon>
        </button>
    </div>

    </mat-card-title>
    <mat-card-subtitle> Estudiantes por grupo</mat-card-subtitle>


    <div *ngIf="loading=== true" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner [diameter]="50" color="primary"></mat-spinner>
    </div>
    <div class="">

    </div>
    <div class="center">
      <div [hidden]="loading">
          <mat-table #table [dataSource]="grupoEstudianteDatasource"
                     matSort
                     matSortActive="grupo.nombre"
                     matSortDirection="asc">

              <ng-container matColumnDef="grupo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><strong>{{constants.grupo}}</strong> </mat-header-cell>
                  <mat-cell *matCellDef="let grupoEstudiante">
                     {{grupoEstudiante.grupo.nombre}}
                  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="docente">
                <mat-header-cell *matHeaderCellDef mat-sort-header><strong>{{constants.docente}}</strong> </mat-header-cell>
                <mat-cell *matCellDef="let grupoEstudiante">
                   {{grupoEstudiante.grupo.usuario.nombre}} {{grupoEstudiante.grupo.usuario.apellido}}
                </mat-cell>
            </ng-container>

              <ng-container matColumnDef="estudiante">
                <mat-header-cell *matHeaderCellDef mat-sort-header><strong>{{constants.estudiante}}</strong> </mat-header-cell>
                <mat-cell *matCellDef="let grupoEstudiante">
                   {{grupoEstudiante.usuarioestudiante.nombre}} {{grupoEstudiante.usuarioestudiante.apellido}}
                </mat-cell>
            </ng-container>

              <ng-container matColumnDef="activo">
                <mat-header-cell *matHeaderCellDef mat-sort-header><strong>{{ constants.activo }}</strong></mat-header-cell>
                <mat-cell *matCellDef="let grupoEstudiante" [attr.data-label]="constants.activo">
                    <span class="alert alert-danger" [hidden]="grupoEstudiante.activo">{{ constants.no }}</span>
                    <span class="alert alert-success" [hidden]="!grupoEstudiante.activo">{{ constants.si }}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef><strong>{{ constants.acciones }}</strong></mat-header-cell>
                <mat-cell *matCellDef="let grupoEstudiante" [attr.data-label]="constants.acciones">
                  <button mat-raised-button  (click)="edit(grupoEstudiante)" [disabled]="disabledButton" color="primary" class="m-1"
                  *userHassPermission="constants.rol_administrador">
                    <mat-icon matTooltip="Editar" matTooltipPosition="above">edit</mat-icon>
                  </button>
                  <button mat-raised-button  (click)="delete(grupoEstudiante)" [disabled]="disabledButton" color="warn" class="m-1"
                  *userHassPermission="constants.rol_administrador">
                    <mat-icon matTooltip="Eliminar" matTooltipPosition="above">delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <mat-paginator #paginator [length]="grupoEstudianteDatasource.counter$ | async"
                         [pageIndex]="0"
                         [pageSize]="5"
                         [pageSizeOptions]="[5, 10, 15]">
          </mat-paginator>

      </div>
  </div>
  </mat-card-content>
</mat-card>

