<mat-toolbar color="primary" class="app-header">
  <div><a href="https://www.positronx.io" target="_blank" class="positronx">Logogenial App - Panel administrativo</a></div>
  <span class="nav-tool-items">
    <a mat-button mat-raised-button routerLink="../login" >Iniciar sesión</a>
    <a mat-button routerLink="register" routerLinkActive="active">Registrarse</a>
  </span>
</mat-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="registerForm">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombres" formControlName="nombre" [(ngModel)]="userLogin.nombre" [type]="'text'">
          <mat-error  *ngIf="submitted && registerForm.controls['nombre'].invalid">
            El campo Nombres es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Apellidos" formControlName="apellido" [(ngModel)]="userLogin.apellido" [type]="'text'">
          <mat-error  *ngIf="submitted && registerForm.controls['apellido'].invalid">
            El campo Apellidos es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Correo electrónico" formControlName="email" [(ngModel)]="userLogin.email" [type]="'text'">
          <mat-error  *ngIf="submitted && registerForm.controls['email'].invalid">
            El campo Correo electrónico es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nick (Nombre corto)" formControlName="username" [(ngModel)]="userLogin.username" [type]="'text'">
          <mat-error  *ngIf="submitted && registerForm.controls['username'].invalid">
            El campo Nick es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Contraseña" formControlName="password" [(ngModel)]="userLogin.password" [type]="'password'">
          <mat-error  *ngIf="submitted && registerForm.controls['password'].invalid">
            El campo nombre es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Repetir Contraseña" formControlName="repetirPassword" [(ngModel)]="userLogin.repetirPassword" [type]="'password'">
          <mat-error  *ngIf="submitted && registerForm.controls['repetirPassword'].invalid">
            El campo nombre es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Quiero ser...</mat-label>
          <mat-select [(value)]="selected" formControlName="rol" [(ngModel)]="userLogin.rol">
            <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
            </mat-option>
          </mat-select>
          <mat-error  *ngIf="submitted && registerForm.controls['roles'].invalid">
            El campo nombre es requerido
          </mat-error>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block"
      (click)="submit()" [disabled]="registerForm.invalid || submitted">
        Registrarse
      </button>

    </form>
  </mat-card>
</div>
